<body>
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                                        <li class="breadcrumb-item active">Create Project</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Create Project</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Customer Name</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Customer Code</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Country</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">State</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Address Line 1</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Address Line 2</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Contact Person</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Contact Person
                                                    Mobile</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">CIN</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">PAN</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Areas</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Website</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="projectname" class="form-label">Description</label>
                                                <input type="text" id="projectname" class="form-control"
                                                    placeholder="Enter project name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="mb-3">
                                                <label for="project-overview" class="form-label">Team Members</label>

                                                <select class="form-control select2" data-toggle="select2">
                                                    <option>Select</option>
                                                    <option value="ACTIVE">ACTIVE</option>
                                                    <option value="INACTIVE">INACTIVE</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div> <!-- end col-->
                    </div>
                    <!-- end row-->
                    <div class="row" style="float: right;">
                        <div class="col-xl-12">
                            <button type="button" class="btn btn-success">Save</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger">Cancel</button>

                        </div>
                    </div>
                </div> <!-- container -->
            </div> <!-- content -->

        </div>

    </div>
    <!-- END wrapper -->

</body>